body {
    background-color: #f7f7f7;
    font-family: Arial, Helvetica, Sans-Serif;
}

.container {
    max-width: 80%;
    margin: 0 auto;
    padding-top: 10vh;
}

.product {
    padding-top: 10vh;
    padding-bottom: 10vh;
}